@using DMSClassLibrary.Entities
@model system_accounts
@{
    ViewData["Title"] = "Pebbles Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>CodePen - Finance Mobile Application-UX/UI Design Screen One</title>
<link rel="stylesheet" href="~/assets/css/login_style.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'>
<link rel="stylesheet" href="./style.css">
</head>
<body>
<form asp-controller="Admin" asp-action="Authenticate" method="post" class="" id="login_form">
<div class="screen-1" >    
  <div class="logo" style="text-align:center; margin-top:2px; margin-bottom:30px;">
    <img src="~/assets/images/pebbles_logo_2.png" style="width:75px; height:75px;">
  </div>
  <div class="email">
    <label for="email">Username</label>
    <div class="sec-2">
      <ion-icon name="mail-outline"></ion-icon>
      <input asp-for="@Model.username" type="text" placeholder="Your Username"/>
    </div>
  </div>
  <div class="password">
    <label for="password">Password</label>
    <div class="sec-2">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <input asp-for="@Model.password" class="pas" type="password" placeholder="Your password"/>
      <ion-icon class="show-hide" name="eye-outline"></ion-icon>
    </div>
  </div>
  
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div style="font-size:1.0rem;color:red;">@ViewBag.Message</div> 
    }
  <button type="submit" class="login">Login </button>
  <!--<button class="login">Login </button>-->
  <div class="footer"><span>Signup</span><span>Forgot Password?</span></div>
</div>
</form>
  
</body>
</html>
